<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">


<div class="d-flex">
    <nav class="sidebar d-flex flex-column flex-shrink-0 position-fixed">
        <button class="toggle-btn" onclick="toggleSidebar()">
            <!-- <i class="fas fa-chevron-left"></i> -->
        </button>
        <div class="nav flex-column">
             
    
            <a routerLink="/home" class="sidebar-link text-decoration-none p-3" >
               
                <span class="hide-on-collapse">Home</span>
            </a>
            <a routerLink="/about" class="sidebar-link text-decoration-none p-3">
                
                <span class="hide-on-collapse">About</span>
            </a>
            <ul class="sidebar-link text-decoration-none">
                <li class="sidebar-link "><a class="text-decoration-none" routerLink="/about/education">Education</a></li>
                <li class="sidebar-link "><a class="text-decoration-none" routerLink="/about/college">college</a></li>
            </ul>

            <a routerLink="/skills" class="sidebar-link text-decoration-none p-3">
                
                <span class="hide-on-collapse">Skills</span>
            </a>
            <a routerLink="/experience" class="sidebar-link text-decoration-none p-3">
               
                <span class="hide-on-collapse">Experience</span>
            </a>
             <a routerLink="/work" class="sidebar-link text-decoration-none p-3">
               
                <span class="hide-on-collapse">Work</span>
            </a>
        </div>

        <div class="profile-section mt-auto p-4">
            <div class="d-flex align-items-center">
                <img src="https://randomuser.me/api/portraits/women/70.jpg" style="height:60px" class="rounded-circle" alt="Profile">
                <div class="ms-3 profile-info">
                    <h6 class="text-white mb-0">Nada Mohamed</h6>
                    <small class="text-muted">Web Developer</small>
                </div>
            </div>
        </div>
    </nav>


    <script>
        function toggleSidebar() {
            const sidebar = document.querySelector('.sidebar');
            sidebar.classList.toggle('collapsed');
        }
    </script>
</div>